@import "settings";

.viewport {
  // overflow: hidden;

  .app {
    transition: transform 0.3s ease;

    &.slide {
      transform: translate3d(app-get(menu, width), 0, 0);
    }

    .menu {
      position: absolute;
      width: app-get(menu, width);
      left: -1 * app-get(menu, width);
      top: 0;
      bottom: 0;
    }
    
    .main {
      @include container; // establish a layout context

      .page-host {
        position: absolute;
        left: 0;
        right: 0;
        top: app-get(nav-bar, height);
        bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
}
