@import "settings";
@import "helpers";

a {
  color: app-color(hyper, off);
  text-decoration: none;

  &:hover {
    color: app-color(hyper, hover);
  }
}

.app {
  position: relative;

  .viewport {
    @include transition(transform, 0.3s, ease);

    position: relative;
    height: 100vh;
    width: 100vw;

    &.slide {
      @include transform(translate3d(app-get(menu, width), 0, 0));
    }

    .slide-menu {
      position: absolute;
      width: app-get(menu, width);
      left: -1 * app-get(menu, width);
      top: 0;
      bottom: 0;
    }
    
    .main {
      .page-host {
        @extend %clearfix;
        @include box-sizing(border-box);

        padding-top: 45px;

        router-view {
          display: block;

          .route {
          }
        }
      }
    }
  }
}
