@import "settings";
@import "helpers";

.viewport {
  .app {
    transition: transform 0.3s ease;

    &.slide {
      transform: translate3d(app-get(menu, width), 0, 0);
    }

    .menu {
      position: absolute;
      width: app-get(menu, width);
      left: -1 * app-get(menu, width);
      top: 0;
      bottom: 0;
    }
    
    .main {
      .page-host {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;

        .route {
          @include container;

          padding: app-get(main, padding);
          padding-top: 0;
        }
      }
    }
  }
}

h2 {
  @include spin();
}
