@import "settings";
@import "icons";

nav-bar {
  display: block;

  nav {
    @include container;

    display: block;
    background-color: #eee;

    .nav-menu {
      @include span(1 of 12);

      .menu-toggle {
        @include icon-button(1.5em);
      }
    }

    .nav-groups {
      @include span(11 of 12 at 1);

      ul {
        margin: 1em;
        padding: 0;

        li {
          display: inline-block;
          padding: 0;
          list-style: none;

          a {
            padding: 0.5em;
          }
        }
      }
    }
  }
}
