@import "jspm_packages/github/ericam/susy@2.2.2/sass/susy";
@import "jspm_packages/github/at-import/breakpoint@2.5.0/stylesheets/breakpoint";
@import "jspm_packages/github/matthieua/sass-css3-mixins@master/css3-mixins";

@import "./app";

// Susy
// see: http://susy.readthedocs.org/en/latest/settings/
// ====

$susy: (
  output: isolate,
  columns: 12,
  gutters: (1/4),
  use-custom: (
    breakpoint: true
  )
);

// mixin: set a global layout
// @include layout(12 1/4 inside-static);

$app: (
  colors: (
    copy: rgb(50, 50, 50),
    hyper: (
      off: rgb(75, 75, 100),
      hover: rgb(115, 125, 135),
      active: rgb(100, 115, 125),
    ),
    primary: rgb(200, 200, 200),
    secondary: rgb(200, 200, 200),
  ),
  typo: (
    base-font-size: 16px
  ),

  main: (
    padding: 1em,
  ),
  menu: (
    width: 260px,
  ),
  nav-bar: (
    height: 48px,
  )
);


// Icons
// =====

$icons: (
  font-path: "/jspm_packages/github/driftyco/ionicons@2.0.1/fonts",
  font-family: "Ionicons",
  version: "2.0.1",
  prefix: icon-,

  glyphs: (
    spinner: "\f29d",
    burger-menu: "\f20e",
  )
);
