@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@import "./settings";
@import "./helpers";
@import "./icons";

@import "./typo";
@import "./forms";
@import "./holdup";

@include border-box-sizing;

// Index
// =====

html {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  // Addresses issue in webkit: http://bit.ly/NEdoDq
  @include prefix(backface-visibility, hidden, 'webkit');
}


// TODO: (IW) figure out how to put this int _icons.scss and call it only once
// eg: @generate-icons( app-get($icons, glyphs) );

// generate an icon class for each member of $icons
@each $name, $value in app-get($icons, glyphs) {
  .icon--#{$name},
  %icon-#{$name} {
    @extend %icon;

    &:before {
      content: quote($value);
    }
  }
}
